#image-layout {
    width: 730px;
    height: 400px;
}
.container { 
    /* border: 1px solid red ; */
    width: 150px;/*200px;*/
    height: 275px;/*400px;*/
  
    /* Center vertically and horizontally */
    position: absolute;
    top: 30%;/*22%;*/
    left: 38%; /*40%;*/
    margin: -35px 0 0 -35px; /* apply negative top and left margins to truly center the element */
    display: flex;
  }
  .container:hover {
    border: 1px solid red ;
  }

  .canvas {
    width: 350px; 
    height: 400px; 
    position: relative;  
  }

  .changeMe {
    position: relative;
    top: 34px;
    left: 60px;
  }
  .ui-resizable {
    position: absolute;
  }
  .resizable {
    /* background: white; */
    width: 90px;
    height: 60px;
    position: absolute;
    top: 70px;
    left: 0px;
    min-width: 20px;
    min-height: 20px;
    max-width: 150px;
    max-height: 275px;
    cursor: pointer;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  }

  /* .container:hover .resizable .resizers{ 
    width: 100%;
    height: 100%;
    border: 2px dashed #696969;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  } */

  .art-preview-select .resizers{ 
    width: 100%;
    height: 100%;
    border: 2px dashed #696969;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
  }

  /* #container:hover .resizable .resizers{ */
    
  /* } */

  /* .container:hover .resizable .resizer { 
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #d6d6d6;
    position: absolute;
    border-style: ridge;
  } */
  
  .art-preview-select .resizer { 
    width: 12px;
    height: 12px;
    /*border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 1px solid #d6d6d6;
    position: absolute;
    border-style: ridge;
  }


   /* .container:hover .resizable .resizers .resizer{
    width: 13px;
    height: 12px;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    resize: both;
    border-style: ridge;
  }  */

  .art-preview-select .resizers .resizer {
    width: 13px;
    height: 12px;
    /*border-radius: 50%; /*magic to turn square into circle*/
    /* background: white;
    border: 3px solid #4286f4; */
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    resize: both;
    border-style: ridge;
  }

  /* .resizable:hover .resizers:hover .resizer:hover{
    background: white;
    border: 3px solid #4286f4;
  } */

  .resizable .resizers .resizer.top-left {
    /* left: -5px;
    top: -5px;
    cursor: nwse-resize; resizer cursor */
  }

  /* .container:hover .resizable .resizers .resizer.top-right {
    right: -8px;
    top: -10px;
    cursor: nesw-resize;
    width: 16px;
    height: 16px;
    border-radius: 0%;
    border: 1px solid #d6d6d6;
    background: white;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  } */

  .art-preview-select .resizers .resizer.top-right {
    right: -8px;
    top: -10px;
    cursor: nesw-resize;
    width: 16px;
    height: 16px;
    border-radius: 0%;
    border: 1px solid #d6d6d6;
    background: white;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* .container:hover .top-left { 
    left: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 0%; 
    background: white;
    border: 1px solid #d6d6d6;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  } */

  .art-preview-select .top-left { 
    left: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 0%; /*magic to turn square into circle*/
    background: white;
    border: 1px solid #d6d6d6;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
 
  /* .container:hover .bottom-left { 
    left: -10px;
    bottom: -10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 0%;
    border: 1px solid #d6d6d6;
    background: white;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  } */

  .art-preview-select .bottom-left { 
    left: -10px;
    bottom: -10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 0%;
    border: 1px solid #d6d6d6;
    background: white;
    position: absolute;
    border-style: ridge;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* .container:hover .resizable .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -4px;
  } */

  .art-preview-select .resizers .resizer.bottom-right { 
    right: -5px;
    bottom: -4px;
    /* cursor: nwse-resize; */
  }

  .sides-div {
    border: 3px solid #c8c0c0;
    margin: 10px;
    padding: 15px;
  }
  .selected {
    border: 3px solid #7cb8f9;
  }
  .sides {
    width: 30%;
  }
  .preview {
      width: 30%;
  }
  #artPreviewDiv {
    margin-top: 14px;
    display: none;
  }
  .qty_total {
    text-align: center;
  }
  .size_title {
    text-align: center;
  }
  .lagoDatePicker {
    width: 95%;
    height: 3rem;
  }

  .Align-center{
    justify-content: center;
  }
  .side-hide{
    z-index: -1;
    width: 0px;
    height: 0px;
    position: absolute;
  }
  
  .custom-area{
    position: relative;
    display: flex
  }

  .slick-prev::before, .slick-next::before{
    color:#000 !important;
  }
  
  .mr-10{
    margin-right:10px;
  }
  .hide{
    display:none !important;
    visibility: hidden;
  }
  /* .slick-track{
    transform: translate3d(0px, 0px, 0px) !important;
  } */
